* {
  margin: 0;
}

body, html {
  font-size: 16px;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

/* header */
.header-logoArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: auto;
}

.nav-items {
  display: flex;
  width: 70%;
}

.nav-item {
  list-style: none;
  margin: auto;
}

.entry-buttonArea {
  display: flex;
  width: 30%;
  justify-content: center;
}

.entry-button {
  background-color: #EDD100;
  border-radius: 16px;
  padding: 8px 16px;
  border: none;
}

/* main */
/* walfare */
.walfare-area {
  width: 100%;
  height: auto;
  padding: 48px 0;
}

.walfare-title {
  width: 20%;
  height: 20%;
  position: relative;
  margin: 24px;
}

.walfare-logoArea {
  width: 100%;
  height: auto;
}

.walfare-logo {
  height: auto;
  width: 100%;
}

.walfare-titleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
}

.walfare-imgArea {
  width: 100%;
  height: auto;
}

.walfare-img {
  width: 100%;
  height: auto;
}

.walfare-guidance {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.walfare-guidanceText1 {
  padding: 8px;
}

.walfare-guidanceText2 {
  padding: 8px;
}

.walfare-guidanceText3 {
  padding: 8px;
}

.walfare-contents {
  background-color: #d3d3d3;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: auto;
  margin: 8px;
}

.column-imgArea {
  background-color: #ffffff;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.column-img {
  width: 104px;
  height: auto;
}

.column-text {
  margin: 8px 8px;
}

/* training */
.training-contents {
  background-color:rgba(0,153,255,0.5);
  width: 100%;
  height: auto;
  position:relative;
  margin: 40px 0;
}

.training-textArea {
  background-color:rgba(255,250,250,0.5);
  width: 20%;
  height: auto;
  margin: 5%;
  padding: 10%;
  position: absolute;
  z-index: 1;
  border-bottom-right-radius: 20%;
}

.training-text {
  margin: 8px;
}

.education-text {
  color: #1FADC7;
  margin: 32px 8px;
}

.education-explaination {
  margin: 8px;
}

.training-img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

/* banner */
.recruitment-contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 40px 0;
}

.left-contents {
  background-color: #EDD100;
  width: 50%;
  height: auto;
  position: relative;
}

.recruitment-text {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.recruitment-imgArea {
  position: absolute;
}

.right-contents {
  width: 50%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.entry-text {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.entry-img1 {
  position: absolute;
}

.entry-img2 {
  position: absolute;
}

.entry-img {
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  width: 100%;
  height: 304px;
  padding: 48px 0;
}

.footer-nav {
  width: 100%;
  height: 304px;
  display: flex;
}

.footer-logo {
  width: 40%;
  height: 304px
}

.footer-menu {
  width: 60%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-around;
}

.menu-item {
  margin: 24px 0;
  width: 50%;
}

.footer-last {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 0 0 24px 0;
}

@media (max-width: 768px) {
  .header-logoArea {
    width: 100%;
    height: auto;
  }
  .log {
    width: 100px;
    height: auto;
  }

  .logo-img {
    width: 70%;
    height: auto;
  }

  .nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .nav-items {
    width: 100%;
    height: auto;
    font-size: 8px;
    padding: 0;
  }

  .entry-button {
    font-size: 8px;
    padding: 0;
  }

  .walfare-logoArea {
    width: 200%;
    height: auto;
  }

  .walfare-titleText {
    width: 100%;
    height: auto;
    font-size: 20px;
    left: 80px;
  }

  .training-textArea {
    width: 280px;
    height: auto;
    padding: 0;
  }

  .taining-text {
    font-size: 12px;
  }

  .education-text {
    margin: 0;
    font-size: 16px;
  }

  .education-explaination {
    font-size: 12px;
  }

  .recruitment-text {
    font-size: 16px;
  }

  .entry-text {
    font-size: 16px;
  }

  .copywrite {
    font-size: 8px;
  }

  .copywrite {
    font-size: 8px;
  }

  .cooperation-guide {
    font-size: 8px;
  }

}